.about_us {
  background-color: var(--milk);
}
.about_us__inner {
  padding-block: var(--paddingBlock);
}
.about_us__title {
  font-family: 'Montserrat';
  font-size: var(--fontSizeTitle);
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
  margin-inline: 20%;
}
.about_us__image {
  width: 100%;
}
.about_us__image img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 28.571rem;
  object-fit: contain;
}
.about_us__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-family: 'Roboto';
  font-family: 'Montserrat';
  text-align: justify;
  font-size: 1.143rem;
  line-height: 1.5;
  text-indent: 2rem;
}
.about_us__info span {
  font-family: 'Roboto';
  font-weight: 600;
}
.about_us__info p:first-child {
  text-align: center;
  text-indent: 0;
}
.about_us__info_br {
  display: inline;
}
.about_us__programms {
}
.about_us__programms_list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.3rem;
  margin-left: 2rem;
  text-indent: 0;
}
.about_us__link {
  font-weight: 500;
  transition: all var(--transitionDuration);
}
.about_us__link:hover {
  color: var(--accent);
  transition: all var(--transitionDuration);
}

@media (max-width: 767.98px) {
  .about_us__info_br:nth-child(2) {
    display: block;
  }
}
