.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.gallery__item {
  position: relative;
  z-index: 1;
  display: block;
  height: 200px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  /* box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); */
}
.gallery__item::after {
  position: absolute;
  content: '';
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  transition: all var(--transitionDuration);
  z-index: 1;
}
.gallery__item:hover.gallery__item::after {
  opacity: 0.5;
}
.gallery__item_img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
