.body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body__header {
}
.body__main {
  flex-grow: 1;
  width: 100%;
  height: 100%;
}
.body__footer {
}
