.body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.body__header {
  position: relative;
  z-index: 1;
}
.body__main {
  flex-grow: 1;
  width: 100%;
}
.body__footer {
}
.scroll_btn {
  position: fixed;
  bottom: 5rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: all var(--transitionDuration);
}
.show {
  opacity: 1;
  visibility: visible;
  transition: all var(--transitionDuration);
  animation: animatebtn 2s ease infinite;
}
@keyframes animatebtn {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
