.teachers {
  background-color: var(--milk);
}
.teachers__inner {
  padding-block: var(--paddingBlock);
}
.teachers__title {
  font-family: 'Montserrat';
  font-size: var(--fontSizeTitle);
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
  padding-inline: 1rem;
}
.teachers__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}
.teachers__item {
}
@media (max-width: 767.98px) {
  .teachers__title {
    margin-bottom: 2rem;
  }
  .teachers__list {
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
  }
}
@media (max-width: 420.98px) {
  .teachers__list {
    gap: 0.5rem;
  }
}
