@font-face {
  font-family: 'Comix Loud Cyr';
  src: url('../fonts/ComixLoudCyrbychzshrft.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Opel Sans';
  src: url('../fonts/OpelSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'DIN Pro';
  src: url('../fonts/DINPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
