.main {
  width: 100%;
  height: 100%;
}
.main_banner {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_banner__bg {
  position: absolute;
  top: -210px;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  z-index: -1;
}
.main_banner__bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_banner__content {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.main_banner__content_info {
  position: relative;
  margin-bottom: 9rem;
}
.main_banner::after {
  content: '';
  position: absolute;
  top: -210px;
  left: 0;
  right: 0;
  height: 440px;
  background-color: var(--pea);
  box-shadow: 0px 10px 40px 40px var(--pea);
  z-index: -1;
  opacity: 0.5;
}
.main_banner__content_title {
  padding-inline: 10%;
  text-align: center;
  font-family: 'Comix Loud Cyr';
  font-size: 2.5714rem;
  font-weight: 600;
  line-height: 2.5;
  color: rgb(31, 31, 161);
  text-shadow:
    -0.143rem -0.143rem 0 #fff,
    0.143rem -0.143rem 0 #fff,
    -0.143rem 0.143rem 0 #fff,
    0.143rem 0.143rem 0 #fff;
  text-transform: uppercase;
}
.main_banner__content_subtitle {
  padding-inline: 5%;
  text-align: center;
  font-family: 'Opel Sans';
  font-size: 2em;
  font-weight: 600;
  color: var(--magenta);
  text-shadow:
    -0.072rem -0.072rem 0 #fff,
    0.072rem -0.072rem 0 #fff,
    -0.072rem 0.072rem 0 #fff,
    0.072rem 0.072rem 0 #fff;
  margin-bottom: 2.1rem;
}
.main_banner__content_links {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.7143rem;
  width: 14.29rem;
}
.main_banner__content_links img {
  position: absolute;
  bottom: calc(100% - 1.3rem);
  left: 0;
}
@media (max-width: 1200.98px) {
  .main_banner__content_title {
    font-size: 1.715rem;
  }
}
@media (max-width: 820.98px) {
  .main_banner::after {
    height: 390px;
    opacity: 1;
  }
  .main_banner__bg {
    top: 180px;
  }
  .main_banner__content_title {
    font-size: 1.286rem;
  }
  .main_banner__content_subtitle {
    font-size: 1.286rem;
  }
}
@media (max-width: 600.98px) {
  .main_banner__content_title {
    font-size: 1.143rem;
  }
  .main_banner__content_subtitle {
    font-size: 1.143rem;
  }
}
@media (max-width: 410.98px) {
  .main_banner::after {
    height: 450px;
  }
  .main_banner__bg {
    top: 220px;
  }
}
@media (max-width: 384.98px) {
  .main_banner__bg {
    top: 240px;
  }
}
