.header {
}
.overflow {
  position: fixed;
  z-index: 100;
  top: 0;
  left: -120%;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  transition: all var(--transitionDuration);
}
.overflow_active {
  left: 0;
  transition: all var(--transitionDuration);
}
.header__top {
  padding-block: 0.357rem;
  background-color: var(--bg);
}
.header_top_line__inner {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 1.4286rem;
}
.header_top_line__logo {
  align-self: flex-end;
  flex-shrink: 0;
  display: block;
  width: 21.42857rem;
  height: 7.143rem;
}
.header_top_line__logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header_top_line__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.357rem;
}
.header_top_line__contacts_icon {
  display: flex; /* fix bags height 3px */
}
.header_top_line__contacts_icon svg {
  transition: all var(--transitionDuration);
}
.header_top_line__contacts_icon:hover svg,
.header_top_line__contacts_icon:active svg,
.header_top_line__contacts_icon:focus svg {
  transform: scale(1.2);
  transition: all var(--transitionDuration);
}
.header_top_line__adresses {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
  gap: 0.357rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.715rem;
  line-height: 1.3;
  color: black;
  font-weight: 500;
  transition: all var(--transitionDuration);
}
.header_top_line__adresses:hover,
.header_top_line__adresses:focus,
.header_top_line__adresses:active {
  color: var(--magenta);
  transition: all var(--transitionDuration);
}
.header_top_line__adresses svg {
  transition: all var(--transitionDuration);
}
.header_top_line__adresses svg path {
  fill: var(--magenta);
}
.header_top_line__adresses:hover svg,
.header_top_line__adresses:focus svg,
.header_top_line__adresses:active svg {
  transform: scale(1.2);
  transition: all var(--transitionDuration);
}
.header__bottom {
  position: relative;
}
.header__bottom_image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7.143rem;
  z-index: 1;
}
.header__bottom_image img {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.header__bottom_inner {
  /* background-color: var(--pea); */
}
.header__menu {
}
.menu__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.357rem;
  padding-bottom: 20px; /* for psevdoelements */
}
.menu__item {
  position: relative;
  background-color: var(--orange);
  border: var(--border);
  transition: all var(--transitionDuration);
}
.menu__item::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 12px 0 12px;
  border-color: #fff transparent transparent transparent;
  transition: all var(--transitionDuration);
}
.menu__item::before {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 7px 0 7px;
  transform: translateX(-50%);
  border-color: var(--orange) transparent transparent transparent;
  z-index: 1;
}
.menu__item:first-child::after {
  border-width: 25px 0 0 24px;
}
.menu__item:first-child::before {
  transform: translateX(calc(-50% + 1px));
  border-width: 16px 0 0 14px;
  border-top-color: var(--red);
}
.menu__item:first-child::after,
.menu__item:first-child::before {
  left: 70%;
}
.menu__item:last-child::before {
  transform: translateX(calc(-50% - 1px));
  border-width: 16px 14px 0 0;
  border-top-color: var(--magenta);
}
.menu__item:last-child::after,
.menu__item:last-child::before {
  left: 25%;
}
.menu__item:last-child::after {
  border-width: 25px 24px 0 0;
}
.menu__item:nth-child(3n)::before {
  border-top-color: var(--green);
}
.menu__item:first-child {
  background-color: var(--red);
}
.menu__item:last-child {
  background-color: var(--magenta);
}
.menu__item:nth-child(3n) {
  background-color: var(--green);
}
.menu__item:hover,
.menu__item:active,
.menu__item:focus {
  border-color: var(--magenta);
  transition: all var(--transitionDuration);
}
.menu__item:hover::after,
.menu__item:active::after,
.menu__item:focus::after {
  border-top-color: var(--magenta);
  transition: all var(--transitionDuration);
}
.menu__item:has(.menu__item_active) {
  border-color: var(--magenta);
}
.menu__item:has(.menu__item_active)::after {
  border-top-color: var(--magenta);
  transition: all var(--transitionDuration);
}

.menu__item a {
  text-decoration: none;
}
.card {
  width: 100%;
  height: 100%;
  padding: 1rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 0.357rem;
  color: white;
  text-align: center;
}
.card__title {
  text-transform: uppercase;
  font-size: 1.4286rem;
  font-weight: 700;
  line-height: 1.2;
}
.card__subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width: 1200.98px) {
  .card__title {
    font-size: 1.286rem;
  }
}
@media (max-width: 820.98px) {
  .header_top_line__logo {
    width: 14.29rem;
    height: 4.2857rem;
  }
  .header_top_line__adresses {
    font-size: 1.143rem;
  }
  .header__bottom_image {
    height: 4.643rem;
  }
  .card {
    padding: 4rem 0.5rem 0.5rem 0.5rem;
  }
  .card__title {
    font-size: 1.143rem;
  }
}
@media (max-width: 600.98px) {
  .header_top_line__logo {
    width: 10.714rem;
    height: 3.5714rem;
  }
  .header_top_line__adresses {
    font-size: 1rem;
  }
  .menu__list {
    gap: 0.143rem;
  }
  .menu__item {
    border-width: 0.143rem;
  }
  .menu__item::after {
    bottom: -20px;
    border-width: 20px 10px 0 10px;
  }
  .menu__item:first-child::after {
    border-width: 20px 0 0 20px;
  }
  .menu__item:last-child::after {
    border-width: 20px 20px 0 0;
  }
  .card {
    padding: 4rem 0.214rem 0.214rem 0.214rem;
  }
  .card__title {
    font-size: 0.857rem;
    font-weight: 400;
  }
  .card__subtitle {
    font-size: 0.7143rem;
  }
}
/* @media (max-width: 480.98px) {
} */
@media (max-width: 420.98px) {
  .header_top_line__inner {
    gap: 1rem;
  }
  .header_top_line__adresses {
    font-size: 0.7143rem;
  }
}
@media (max-width: 400.98px) {
  .header_top_line__logo {
    width: 8.57rem;
    height: 2.857rem;
  }
}
