.button {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--magenta);
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 0.7143rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.143rem;
  transition: all var(--transitionDuration);
}
.button:hover,
.button:active,
.button:focus {
  background-color: var(--dark_magenta);
  transition: all var(--transitionDuration);
}
.button.type_1 {
  max-width: 21.42857rem;
  padding: 1rem 1.4286rem;
  text-align: center;
  background-color: var(--orange);
  color: white;
  border: var(--border);
  border-radius: 10px;
}
.button.type_1:nth-child(2n) {
  background-color: var(--green);
}
.button.type_1:hover,
.button.type_1:active,
.button.type_1:focus {
  background-color: var(--magenta);
}
@media (max-width: 600.98px) {
  .button {
    font-size: 1rem;
    padding-inline: 0.57rem;
  }
}
