.telephones {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
}
.telephones.column {
  flex-direction: column;
}
.telephones li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.286rem;
  font-weight: 500;
}
.telephones.wide li {
  color: white;
  font-size: 1.715rem;
  font-weight: 500;
  background-color: var(--magenta);
  border-radius: 0.5rem;
  white-space: nowrap;
}
.telephones * a {
  padding: 0.3rem;
  text-decoration: none;
  transition: all var(--transitionDuration);
}
.telephones * a:hover,
.telephones * a:active,
.telephones * a:focus {
  color: black;
  transition: all var(--transitionDuration);
}
.telephones li * svg {
  display: block;
  height: 2.8572rem;
  width: 2.8572rem;
  transition: all var(--transitionDuration);
}
.telephones li * svg:hover {
  transform: scale(1.1);
  transition: all var(--transitionDuration);
}

@media (max-width: 820.98px) {
  .telephones.wide li {
    font-size: 1.4286rem;
  }
}
@media (max-width: 767.98px) {
  .telephones {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 600.98px) {
  .telephones.wide li {
    font-size: 1rem;
  }
}
@media (max-width: 480.98px) {
  .telephones li {
    gap: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
  }
}
