:root {
  font-family: 'DIN Pro', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--dark);
  background-color: var(--white);
}
html,
body,
#root {
  height: 100%;
  width: 100%;
}
body {
  position: relative;
  background-color: var(--milk);
  z-index: -1;
}
body.lock {
  overflow: hidden;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--padding);
}
