.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: var(--milk);
  border-radius: var(--borderRadius);
  overflow: hidden;
  transition: all var(--transitionDuration);
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.247) 0px 1.86513px 6.21711px 0px;
  transition: all var(--transitionDuration);
}
.card:hover .card__img {
  transform: scale(1.05);
  transition: all var(--transitionDuration);
}
.card:hover .card__title {
  color: var(--accent);
  transition: all var(--transitionDuration);
}
.card__img_wrapper {
  overflow: hidden;
}
.card__img {
  display: block;
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-radius: var(--borderRadius);
  transition: all var(--transitionDuration);
}
.card__description {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-inline: 0.7143rem;
  padding-block: 0.5rem;
  font-family: 'Montserrat';
}
.card__title {
  /* font-family: 'Roboto'; */
  font-size: 1.143rem;
  font-weight: 400;
  transition: all var(--transitionDuration);
}
@media (max-width: 767.98px) {
  .card {
    box-shadow: rgba(0, 0, 0, 0.247) 0px 1.86513px 6.21711px 0px;
  }
  .card__img {
    height: 15rem;
  }
}
@media (max-width: 420.98px) {
  .card__img {
    height: 13rem;
  }
}
